language: node_js
node_js: "0.10"
branches:
    only: develop
before_script: npm run compile
before_deploy:
    - rm Gruntfile.js .jshintignore .jshintrc .travis.yml
    - rm -r src bin features coverage node_modules
    - zip -r latest.zip . -x *.git*
    - mkdir artifacts
    - mv latest.zip artifacts
deploy:
    provider: s3
    access_key_id:
        secure: kEE0q6NmPsq2OotudjVfTSn88d0r8Iz06Ogw4sQRE4ii//+RZ0aoR1qK2VB8SQJxBwyDIxe1qlTBw8vKGkSGrDxv59m4jbXs4O3SY/oxF2KN+FquA3fUJ/JiLNLDtNMuEIvde8yhZ8p0DaRLr/rQpBrRkKnt0FiW11h+JMfNBds=
    secret_access_key:
        secure: Zb2Z1/YRI/qbie0T1lFMfmEwoB2T/WDjGp09leEwOEuhUAGQ4+j8kOyo2Z9Au6hx6rEL067dPUcMRTmB1CM1yFVR0Xi/DUDVo6VKehbGX+1SdCaebX3/wkl0F2QZuAcoPucuDsC2fZ414OcgOeaPhXDikCFDM5j6Lymt2Q93WOY=
    skip_cleanup: true
    upload_dir: dizu/api
    local_dir: artifacts
    endpoint: s3-ap-southeast-1.amazonaws.com
    bucket: pkg.lihengl.com
    region: ap-southeast-1
    on:
        branch: develop
