language: node_js
node_js:
    - '0.10'
branches:
    only: develop
before_install:
    - sudo pip install -q awscli
before_script:
    - npm run compile
    - grunt jshint
before_deploy:
    - cat coverage/lcov.info | coveralls
    - rm Gruntfile.js postal.sql .jshintignore .jshintrc .travis.yml
    - rm -r src bin features coverage node_modules
    - zip -r api-latest.zip . -x *.git*
    - mkdir build
    - mv api-latest.zip build
deploy:
    secret_access_key:
        secure: SD9NAE04mWdKf+PBgrbayEyQaNC1wx65PK2finSWwD5JL0/2cUSjyXIG8k4/AX+T0rLdCv4oP0vy9USY529FE7LJrdny9q/mM/5R4iv8yNIVc3g2V0BdEauOFQDcUovOJR0STS6aiCzVt6sDlIdqFb51wsZfkjCZAE7uGBSCNDk=
    access_key_id:
        secure: NQbHvJEiGhILx/b1oaHtcDgcsF2NtTwC6vzXNzq2rTKAz8M5C+U531c8gSbHOeWt4Yav4t3B4jMrk2vtJPmZFisoFup4h5lCVoa3Fj1TSZy7XHbZE9c8gbRLub+BLmDweuoHBoOZ1U4uajwkFnijGxvd2qLUeCCA2gdchfWbuW0=
    skip_cleanup: true
    upload_dir: dizu
    local_dir: build
    provider: s3
    endpoint: s3-ap-southeast-1.amazonaws.com
    bucket: src.lihengl.com
    region: ap-southeast-1
    on:
        branch: develop
after_deploy:
    - aws elasticbeanstalk delete-application-version --application-name dizu-api --version-label latest
    - aws elasticbeanstalk create-application-version --application-name dizu-api --version-label latest --source-bundle S3Bucket=src.lihengl.com,S3Key=dizu/api-latest.zip
    - aws elasticbeanstalk update-environment --environment-id e-vxjma2vfsc --version-label latest
